{% extends "account/profile.html" %}

{% block change_password %}

      <section class="register">
      <div class="container">
      <h1 class="heading-primary">Change Password</h1>
      </div>
        <div class="container">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                    {{fm.label_tag}}
                    {{fm}}
                    {{fm.errors}}
                   <br>
                   <br>
                {% endfor %}
                <input type="submit" value="Submit">
            </form>
          </div>
      </section>
   

{% endblock %}